<ion-header>
  <ion-toolbar>
    <ion-title>Archivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="presentPopover()" routerLink="/agregar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-list>
    <ion-list-header>
      <b>Recientes</b>
    </ion-list-header>
  </ion-list>

  <ion-list *ngFor="let multiR of multimediaReciente">
    <ion-item>
      <ion-label>{{multiR.Nombre}}</ion-label>
      <ion-icon name="document-outline" ></ion-icon>
    </ion-item>
  </ion-list>

  <!-- <ion-list>
    <ion-item  routerLink="/link">
      <ion-label>Apunte Proyecto</ion-label>
      <ion-icon name="document-outline" color="danger"></ion-icon>
    </ion-item>
    <ion-item  routerLink="/link">
      <ion-label>Documento Estadías</ion-label>
      <ion-icon name="document-outline" color="success"></ion-icon>
    </ion-item>
    <ion-item  routerLink="/link">
      <ion-label>Diagrama de Red</ion-label>
      <ion-icon name="document-outline" color="light"></ion-icon>
    </ion-item>
    <ion-item  routerLink="/link">
      <ion-label>Tipos Arduinos</ion-label>
      <ion-icon name="document-outline" color="primary"></ion-icon>
    </ion-item>
    <ion-item  routerLink="/link">
      <ion-label>Diagrama OSI</ion-label>
      <ion-icon name="document-outline" color="light"></ion-icon>
    </ion-item>
  </ion-list> -->

  <ion-list>
    <ion-list-header>
      <b>Materias</b>
    </ion-list-header>
  </ion-list>

  <ion-list *ngFor ="let materia of materias">
    <ion-item color="{{materia.color}}" (click)="openDetail(materia.idMateria)">
      <ion-label>{{materia.nombreMateria}}</ion-label>
      <ion-icon name="document-outline" ></ion-icon>
    </ion-item>
  </ion-list>
  <!-- <ion-list>
    <ion-list-header>
      <b>Materias</b>
    </ion-list-header>
    <ion-item  routerLink="/archivos-materia" color="danger">
      <ion-label>Proyecto II</ion-label>
      <ion-icon name="folder-outline"></ion-icon>
    </ion-item>
    <ion-item  routerLink="/archivos-materia" color="success">
      <ion-label>Estadía Profesional</ion-label>
      <ion-icon name="folder-outline"></ion-icon>
    </ion-item>
    <ion-item  routerLink="/archivos-materia" color="primary">
      <ion-label>Tecnologías Emergentes</ion-label>
      <ion-icon name="folder-outline"></ion-icon>
    </ion-item>
    <ion-item  routerLink="/archivos-materia" color="light">
      <ion-label>Redes LAN y WAN</ion-label>
      <ion-icon name="folder-outline"></ion-icon>
    </ion-item>
  </ion-list> -->

</ion-content>
