<ion-header>
  <ion-toolbar>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-list style="padding-top: 50%;"> 
        <p style="padding-left: 30%;" ><b>Aún no tienes horario</b></p>
        <ion-button style="padding-left: 35%;" fill="outline" routerLink="/agregar-materia">
          Comenzar -> 
        </ion-button>   
</ion-list> 
</ion-content>
