<ion-header>
  <ion-toolbar>
    <ion-title>Añadir Pendiente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="ion-padding">
    
    <strong>Nombre/Título</strong>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input id="titulo" [(ngModel)]="titulo"></ion-input>
    </ion-item>

    <hr>
    <hr>

    <strong>Fecha:</strong> 
      
    <ion-item>
      <ion-label position="floating"></ion-label>
      <!-- <ion-input id="fecha" [(ngModel)]="fecha" (click)="showDatepicker()"></ion-input> [ngModel]="fechaPicker.toISOString()" -->
      <ion-datetime 
      id="fecha"
       [(ngModel)]="fecha"
        display-format="YYYY-MM-DD" 
        
        placeholder="Año-Mes-Día"
        min="2020-01-01"
        max="2021-12-31"> 
     </ion-datetime>
    </ion-item>

    <hr>
    <hr>

    <strong>Descripción</strong> 


    <ion-item>
      <ion-textarea placeholder="Escribe tu nota aquí" rows=10 id="descripcion" [(ngModel)]="descripcion"></ion-textarea>
    </ion-item>
   

    <ion-button expand="block" color="primary" (click)=validateForm() >Añadir</ion-button>
    <ion-button expand="block" color="danger" routerLink="/..">Cancelar</ion-button>

  </div>
</ion-content>
