<ion-header>
  <ion-toolbar color="success">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked">Nombre <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" name = "name" [(ngModel)]="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Apellido <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" name = "lastname" [(ngModel)]="lastname"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Correo Electrónico <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" id = email name = "email" [(ngModel)]="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Contraseña <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="password" name = "pass" [(ngModel)]="pass"></ion-input>
          </ion-item>
          
        </ion-list>

        <div class="ion-padding">
          <ion-button color="success" expand="block" class="ion-no-margin" (click)= validateForm() >Crear cuenta</ion-button>
        </div>
        <div class="ion-padding">
          <ion-button color="danger" expand="block" class="ion-no-margin" routerLink="/login" routerDirection="root">Cancelar</ion-button>
        </div>
      </form>
</ion-content>
