<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://schoolnote.infinityfreeapp.com/user-files/11603922011655.jpeg" >
      </ion-avatar>
      <ion-label>
        <h1>{{ user != undefined ? user.nombre : ""}}</h1>        
      </ion-label>
      <ion-button fill="outline" (click)="openFileSelector()">Cambiar imagen</ion-button>
    </ion-item>
    <ion-item>
      <p><b>Correo Electrónico: </b>{{ user != undefined ? user.correo : ""}}</p>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="!isEditing">
    <ion-button fill="outline" (click)="edit()">Editar perfil</ion-button>
  </ion-item>
  <ion-item *ngIf="isEditing">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input id="name" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item *ngIf="isEditing">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input id="lastname" [(ngModel)]="lastname"></ion-input>
  </ion-item>
  <ion-item *ngIf="isEditing">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input id="lpass" type="password" [(ngModel)]="pass"></ion-input>
  </ion-item>
  <ion-button *ngIf = "isEditing" expand="block" color="success" (click)=updateProfileInfo()>Guardar</ion-button>
  <ion-button *ngIf = "isEditing" expand="block" color="danger" (click)=stopEditing()>Cancelar</ion-button>
</ion-content>
