<ion-header>
  <ion-toolbar>
    <ion-title>Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item expand="full">
      <ion-select  [(ngModel)]="idMateria" value="{{materiasDia[0] != undefined ? materiasDia[0].idMateria : ''}}" id="selectMaterias" (ionChange)="cargarHorarioMateria($event.target.value,this)">
        <ion-select-option *ngFor = "let materiaItem of materiasDia" value="{{materiaItem.idMateria}}">{{materiaItem.nombreMateria}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-list *ngFor = "let horarioItem of horarioDia" class=""> 
    <ion-card color="light">
      <ion-card-header>
        <ion-card-subtitle>
          {{horarioItem.nombreDia}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content collapse="condense">      
          <p>
            {{horarioItem.horaInicio}}-{{horarioItem.horaFin}}
          </p> 
      </ion-card-content>    
    </ion-card>
</ion-list> 
  <ion-button (click)="editarHorario()" expand="block">
    Editar 
  </ion-button>
</ion-content>
