<ion-header>
  <ion-toolbar>
    <ion-title>Editar Pendiente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="ion-padding">
    
    <strong>Titulo</strong>

    <!-- <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input id="titulo" [(ngModel)]="titulo" placeholder="{{pendiente.titulo}}"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input id="titulo"  [(ngModel)]="titulo" value="{{pendiente.titulo}}"></ion-input>
    </ion-item>

    <hr>
    <hr>

    <strong>Fecha:</strong> 
      
    <!-- <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input placeholder="Antigua Fecha: {{pendiente.fechaRaw}}" disabled=true></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-datetime 
      id="fecha"
       [(ngModel)]="fechaRaw" 
       value="{{pendiente.fechaRaw}}"
        display-format="YYYY-MM-DD" 
        
        placeholder="Año-Mes-Día"
        min="2020-01-01"
        max="2021-12-31"> 
     </ion-datetime>
    </ion-item>


    <hr>
    <hr>

    <strong>Descripción</strong> 


    <!-- <ion-item>
      <ion-textarea placeholder="{{pendiente.descripcion}}" rows=10 id="descripcion" [(ngModel)]="descripcion"></ion-textarea>
    </ion-item> -->

    <ion-item>
      <ion-textarea value="{{pendiente.descripcion}}" rows=10 id="descripcion"  [(ngModel)]="descripcion" ></ion-textarea>
    </ion-item>
   

    <ion-button expand="block" color="primary" (click)=validateForm() >Guardar Cambios</ion-button>
    <ion-button expand="block" color="danger" routerLink="/tabs/pendientes">Cancelar</ion-button>

  </div>
</ion-content>
