<ion-header>
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="presentPopover()" routerLink="/agregar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{ user != undefined ? user.foto : ''}}">
      </ion-avatar>
      <ion-label>
        <h1>{{ user != undefined ? user.nombre : ""}}</h1>        
      </ion-label>
      <ion-button fill="outline" routerLink="/perfil" routerDirection="root">Ver Perfil</ion-button>
    </ion-item>
  </ion-list>

   <ion-list>
    <ion-item routerLink="/materias"> 
      <ion-label>Materias</ion-label>
      <ion-icon name="folder-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/horario">      
      <ion-label>Horario</ion-label>
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-item>
    <ion-item  routerLink="/unirme-grupo">      
      <ion-label>Unirme a un grupo</ion-label>
      <ion-icon name="people-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="logout()">      
      <ion-label>Cerrar Sesión</ion-label>
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-item>
   
  </ion-list>
  
</ion-content>
