.line-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 4px;

        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
        }

        ion-label {
            color: #807e7e!important;
            font-weight: 300;
            font-size: 1rem!important;
        }
    }
}
.send {
    text-align: center;
    padding-top: 10px;
}
.item1{
    text-align: right;
    float: right;
    padding: 5px;
}
.item2{
    text-align: right;
    float: right;
    padding: 0px;
}
.item1Left{
    text-align: left;
    float: left;
    padding: 5px;
}
.item2Left{
    text-align: left;
    float: left;
    padding: 0px;
}