<ion-header>
  <ion-toolbar>
    <ion-title>{{materia != undefined ? materia.nombreMateria : Chat}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list #list *ngFor = "let mensaje of mensajes">
    <ion-item *ngIf = "mensaje.idUsuario == null || mensaje.idUsuario == undefined" class="item1">
        <p>{{ mensaje.mensaje  }} </p>    
    </ion-item>    
    <ion-item *ngIf = "mensaje.idUsuario != undefined && mensaje.idUsuario != idUsuario" class="item1Left">
        <ion-avatar slot="start" class="item2Left">
          <img src="{{ mensaje.foto != undefined ? mensaje.foto : ''}}">
        </ion-avatar>
        <div class="item1">
          <ion-card color="light"  class="item1Left">
            <ion-card-subtitle>{{ mensaje.nombre + ' - ' + mensaje.stamp }}</ion-card-subtitle>
            <ion-card-content>
              {{ mensaje.mensaje  }}   
            </ion-card-content>    
          </ion-card>
          </div>
  </ion-item> 
  <ion-item *ngIf = "mensaje.idUsuario == idUsuario" class="item1">
    <div class="item1">
    <ion-card color="primary"  class="item1">
      <ion-card-subtitle>{{ mensaje.nombre + ' - ' + mensaje.stamp }}</ion-card-subtitle>
      <ion-card-content>
        {{ mensaje.mensaje  }}   
      </ion-card-content>    
    </ion-card>
    </div>
    <ion-avatar slot="end" class="item2">
      <img src="{{ mensaje.foto != undefined ? mensaje.foto : ''}}">
    </ion-avatar>
  </ion-item>    
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-input #message id="mensjae" [(ngModel)]="mensaje" placeholder="Mensaje"></ion-input>
        </ion-col>
        <ion-col size=1 float-right class = "send">
          <div class = "send">
          <ion-icon name="send-outline" (click)="sendMessage()"></ion-icon></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-item>
  </ion-toolbar>
</ion-footer>