<ion-header>
  <ion-toolbar>
    <ion-title>Agregar horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <b>
      <ion-item lines="none">
        <ion-segment fill="outline" [(ngModel)]="idMateria" (ionChange)=recargar()
          value="{{idMateria != undefined ? idMateria :  materiasDia[0] != undefined ? materiasDia[0].idMateria : ''}}" scrollable="true">
          <ion-segment-button *ngFor="let materiaItem of materiasDia" value="{{materiaItem.idMateria}}">
            <ion-label color="{{materiaItem.color}}">{{materiaItem.nombreMateria}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </b>
    <ion-content>
      Ingrese los rangos de horario de cada materia para cada dia de la semana.
    </ion-content>
    <ion-item expand="full" lines="none" >
      <ion-segment fill="outline" [(ngModel)]="dia" value="1" scrollable="true" (ionChange)=recargar()>
        <ion-segment-button value="1" >
          <ion-label>Lunes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Martes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-label>Miercoles</ion-label>
        </ion-segment-button>
        <ion-segment-button value="4">
          <ion-label>Jueves</ion-label>
        </ion-segment-button>
        <ion-segment-button value="5">
          <ion-label>Viernes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="6">
          <ion-label>Sábado</ion-label>
        </ion-segment-button>
        <ion-segment-button value="7">
          <ion-label>Domingo</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <ion-list>
      <ion-card color="light"  *ngFor="let item of lista" >
        <ion-card-content collapse="condense" id="{{item.idHorario != undefined ? item.idHorario : item.id}}">
          <ion-item-sliding id="">
            <ion-item>
              <ion-note slot="start">
                Hora inicio
              </ion-note>
              <ion-datetime slot="end" [(ngModel)]="item.horaInicio" (ionChange)=input($event) class="horas" displayFormat="HH:mm"
                value={{item.horaInicio}} color="medium"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-note slot="start">
                Hora fin
              </ion-note>
              <ion-datetime slot="end" [(ngModel)]="item.horaFin" class="horas" displayFormat="HH:mm" value={{item.horaFin}} color="medium">
              </ion-datetime>
            </ion-item>
          </ion-item-sliding>
          <ion-button expand="block" color="danger" (click)=eliminarRango($event)>
            <ion-icon name="trash" ></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list>

  </ion-list>
  <ion-item>
    <ion-button size="small" color="ligth" (click)=agregarRango()>
      <ion-icon color="warning" slot="icon-only" name="add-circle-outline"></ion-icon>
    </ion-button>
    <ion-label>Agregar rango</ion-label>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button expand="block" color="primary" (click)=guardarHorario()>Guardar</ion-button>
  <ion-button expand="block" color="danger" routerLink="/..">Salir</ion-button>
</ion-footer>