<ion-header>
  <ion-toolbar>
    <ion-title>Unirme a un Grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="ion-padding">
    
    <strong>Ingresa el Código del Grupo</strong>

    <ion-item>
      <ion-label position="floating">Código</ion-label>
      <ion-input id="codigo" [(ngModel)]="codigo"></ion-input>
    </ion-item>

    <hr>
    <hr> 

    <strong>Asigna una materia al grupo:</strong> 
      
    <ion-list>
      <ion-item expand="full">
        <ion-select   value="{{materiasDia[0] != undefined ? materiasDia[0].idMateria : ''}}" id="selectMaterias" (ionChange)="cambioMateria($event)">
          <ion-select-option *ngFor = "let materiaItem of materiasDia" value="{{materiaItem.idMateria}}">{{materiaItem.nombreMateria}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <hr>
    <hr>

    <ion-button expand="block" color="primary" (click) = "unirseGrupo()">Aceptar</ion-button>
    <ion-button expand="block" color="danger" routerLink="/..">Cancelar</ion-button>

  </div>
</ion-content>
