<ion-tabs  >

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="noticias">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="archivos">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Archivos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendario">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>


  <ion-tab-button tab="pendientes">
    <ion-icon name="checkbox-outline"></ion-icon>
    <ion-label>Pendientes</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="menu">
    <ion-icon name="reorder-three-outline"></ion-icon>
    <ion-label>Menú</ion-label>
  </ion-tab-button>

  </ion-tab-bar>
  
</ion-tabs>