<ion-header>
  <ion-toolbar>
    <ion-title>{{materia != undefined ? materia.nombreMateria : "Pendientes"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getPendientes($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Baja para refrescar" refreshingSpinner="circles"
      refreshingText="Recargando...">
    </ion-refresher-content>
  </ion-refresher>
 <!--  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="presentPopover()" routerLink="/agregar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
<!-- <p>Fecha actual: {{hoyFecha}}</p> -->
<ion-list-header>
      <b>Esta semana</b>
    </ion-list-header>
  <ion-list *ngFor = "let pendiente of pendientesSemana">
    <ion-card color="danger">
      <ion-card-header>
        <ion-card-subtitle>     
          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <div>{{ pendiente.fechaEntrega }}</div>
              </ion-col>
              <ion-col class="ion-align-self-end">
                <ion-button size="small" color="light"  tab="1" (click)="openDetail(pendiente.idPendiente, pendiente.idMateria, pendiente.titulo, pendiente.fechaEntrega, pendiente.descripcion, pendiente.fechaRaw)">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>        
              <ion-button size="small" color="light" tab="2" (click)="eliminarPendiente(pendiente.idPendiente)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
        <ion-card-title>{{ pendiente.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       {{ pendiente.descripcion   }}   
      </ion-card-content>    
    </ion-card>   
  </ion-list>

  
   <ion-list-header>
      <b>Posteriores</b>
    </ion-list-header>
    <!-- List of Text Items -->
   <ion-list *ngFor = "let pendiente of pendientes">
    <ion-card color="warning">
      <ion-card-header>
        <ion-card-subtitle>     
          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <div>{{pendiente.fechaEntrega}}</div>
              </ion-col>
              <ion-col class="ion-align-self-end">
                <ion-button size="small" color="light"  tab="1" (click)="openDetail(pendiente.idPendiente, pendiente.idMateria, pendiente.titulo, pendiente.fechaEntrega, pendiente.descripcion, pendiente.fechaRaw)">
                <ion-icon name="create-outline"></ion-icon >
              </ion-button>        
              <ion-button size="small" color="light" tab="2" (click)="eliminarPendiente(pendiente.idPendiente)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
        <ion-card-title>{{pendiente.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{pendiente.descripcion}}    
      </ion-card-content>    
    </ion-card>    
  
  </ion-list>

  <ion-list-header>
    <b>Pasados</b>
  </ion-list-header>
  <!-- List of Text Items -->
 <ion-list *ngFor = "let pendiente of pendientesPasados">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>     
        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <div>{{pendiente.fechaEntrega}}</div>
            </ion-col>
            <ion-col class="ion-align-self-end">
              <ion-button size="small" color="light"  tab="1" (click)="openDetail(pendiente.idPendiente, pendiente.idMateria, pendiente.titulo, pendiente.fechaEntrega, pendiente.descripcion, pendiente.fechaRaw)">
              <ion-icon name="create-outline"></ion-icon >
            </ion-button>        
            <ion-button size="small" color="light" tab="2" (click)="eliminarPendiente(pendiente.idPendiente)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-subtitle>
      <ion-card-title>{{pendiente.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{pendiente.descripcion}}    
    </ion-card-content>    
  </ion-card>    

</ion-list>
  

</ion-content>
