<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="ion-padding">
    
    <strong>Selecciona una materia para crear el grupo</strong>

    <hr>
    <hr>
      
    <ion-item>
      <ion-select   value="{{materiasDia[0] != undefined ? materiasDia[0].idMateria : ''}}" id="selectMaterias" (ionChange)="cambioMateria($event)">
        <ion-select-option *ngFor = "let materiaItem of materiasDia" value="{{materiaItem.idMateria}}">{{materiaItem.nombreMateria}}</ion-select-option>
      </ion-select>
    </ion-item>

    <hr>
    <hr>

    <ion-button expand="block" color="primary">Aceptar</ion-button>
    <ion-button expand="block" color="danger" routerLink="/..">Cancelar</ion-button>

  </div>
</ion-content>
