<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="margenInferior">
    <ion-fab-button color="danger" (click)="presentPopOver()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<ion-tabs  >

  <ion-tab-bar slot="top">

    <ion-tab-button tab="archivos" (click)="navigateTo('archivos')">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Archivos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" *ngIf="hasGroup" (click)="navigateTo('chat')">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pendientes" (click)="navigateTo('pendientes')">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Pendientes</ion-label>
    </ion-tab-button>

  <ion-tab-button tab="configuracion" *ngIf="isAdmin" (click)="navigateTo('configuracion')">
    <ion-icon name="reorder-three-outline"></ion-icon>
    <ion-label>Configuracion</ion-label>
  </ion-tab-button>

  </ion-tab-bar>
  
</ion-tabs>
</ion-content>