<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      SchoolNote
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" >

  <div id="container" class="ion-padding">
    <strong>Bienvenido. Inicia Sesión</strong>

  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input id="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input id="password" type="password" [(ngModel)]="pass"></ion-input>
  </ion-item>

  <ion-button expand="block" color="success" (click)=login()>Ingresar</ion-button>
    
  <p>¿Eres Nuevo? <a rel="noopener noreferrer"  (click)="goToRegister()">Crea tu cuenta</a></p>
  </div>
</ion-content>
