<ion-header>
  <ion-toolbar>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-tabs [root]="tabs" #diasTabs >
      <ion-tab-bar slot="top" tabsHighlight="true">    
        <ion-tab-button id="1"  (click)="cargarDia(1, this)" selectedTab >          
          <ion-label>Lu</ion-label>
        </ion-tab-button>    
        <ion-tab-button id="2" (click)="cargarDia(2, this)" >
          <ion-label>Mar</ion-label>
        </ion-tab-button>    
        <ion-tab-button id="3" (click)="cargarDia(3, this)">
          <ion-label>Mie</ion-label>
        </ion-tab-button>    
        <ion-tab-button id="4" (click)="cargarDia(4, this)">
          <ion-label>Jue</ion-label>
        </ion-tab-button>      
        <ion-tab-button id="5" (click)="cargarDia(5, this)">
          <ion-label>Vie</ion-label>
        </ion-tab-button>    
        <ion-tab-button id="6" (click)="cargarDia(6, this)">
          <ion-label>Sab</ion-label>
        </ion-tab-button>    
        <ion-tab-button id="7" (click)="cargarDia(7, this)">
          <ion-label>Dom</ion-label>
        </ion-tab-button>    
      </ion-tab-bar>      
    </ion-tabs>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="presentPopover()" routerLink="/agregar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngFor = "let horarioItem of horarioDia" class="tabHorarios"> 
          <ion-grid (click)="openDetail(horarioItem.idMateria)">
            <ion-row>
              <ion-col size="2" class="ion-align-self-center" >
                <div>{{horarioItem.horaInicio}}</div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-button color="{{horarioItem.color}}" expand="block">
                   {{horarioItem.nombreMateria}}
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>  
  </ion-list>


</ion-content>