<ion-header>
  <ion-toolbar>
    <ion-item id="item">
      <ion-title>{{materia != undefined ? materia.nombreMateria : Configuracion}}</ion-title>
      <ion-button size="medium" [(ngModel)]="idMateria" fill="outline" *ngIf="isAdmin" item-end (click)="editarAdmin()"> 
        Cambiar<br>administrador
      </ion-button> 
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>
    <h2>Codigo del grupo: </h2>        
  </ion-label>
  <ion-label>
    <h4>{{materia != undefined ? materia.codigo : ''}}</h4>        
  </ion-label>
</ion-item>
  <ion-list-header>
    <b>Miembros</b>
  </ion-list-header>
  <ion-list *ngFor = "let user of users">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{ user.foto != null ? user.foto : '../../../assets/user.png'}}">
      </ion-avatar>
      <ion-label>
        <h2>{{user.Nombre}}</h2>        
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
