<ion-header>
  <ion-toolbar>
    <ion-title>Archivos de la Materia</ion-title>
  </ion-toolbar>

  <ion-toolbar>    
    <ion-row>
      <ion-col>
        <ion-searchbar placeholder="Filtrar" (ionChange)="buscar($event)">      
        </ion-searchbar>          
      </ion-col>
      <ion-col size="4">
        <ion-button size="small" fill="outline"  (click)="select()"> 
          {{isSelecting ? 'Cancelar' : 'Seleccionar'}}
        </ion-button> 
      </ion-col>
    </ion-row> 
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h2>{{materia.nombreMateria}}</h2>
    </ion-list-header>
  </ion-list>

  <ion-list *ngFor="let multi of multimediaFilter | filtro: textoBuscar : 'Nombre' ">  
    <ion-item  >
      <ion-label (click)="viewFile(multi.url)">{{multi.Nombre}}</ion-label>
      <ion-icon (click)="viewFile(multi.url)" name="document-outline" color="{{materia.color}}"></ion-icon>
      <ion-checkbox *ngIf= "isSelecting" color="primary" (click)="addRemoveID(multi.idMultimedia)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- <ion-list>  
      <ion-item  routerLink="/link">
        <ion-label>Apunte Proyecto</ion-label>
        <ion-icon name="document-outline" color="danger"></ion-icon>
      </ion-item>
      <ion-item  routerLink="/link">
        <ion-label>Documento Liberación</ion-label>
        <ion-icon name="document-outline" color="danger"></ion-icon>
      </ion-item>
      <ion-item  routerLink="/link">
        <ion-label>Minuta 3</ion-label>
        <ion-icon name="document-outline" color="danger"></ion-icon>
      </ion-item>
      <ion-item  routerLink="/link">
        <ion-label>Minuta 2</ion-label>
        <ion-icon name="document-outline" color="danger"></ion-icon>
      </ion-item>
      <ion-item  routerLink="/link">
        <ion-label>Minuta 1</ion-label>
        <ion-icon name="document-outline" color="danger"></ion-icon>
      </ion-item>  
  </ion-list> -->



</ion-content> 

<ion-footer *ngIf="isSelecting">
  <ion-toolbar>
    <ion-tab-bar>
      <ion-tab-button (click)="presentAlertConfirm()">
        <ion-icon color="primary" name="share-outline"></ion-icon>
        <ion-label>Compartir</ion-label>
      </ion-tab-button>
  
  
    <ion-tab-button (click)="agregarEtiqueta()">
      <ion-icon color="primary" name="bookmark-outline"></ion-icon>
      <ion-label>Agregar Etiqueta</ion-label>
    </ion-tab-button>
  
    <ion-tab-button (click)="presentAlertDelete()">
      <ion-icon color="primary" name="trash-outline"></ion-icon>
      <ion-label>Eliminar</ion-label>
    </ion-tab-button>
    </ion-tab-bar>
    
   <!--  <ion-buttons slot="start">
      <ion-button>
        <ion-icon name=megaphone-outline></ion-icon>
        <ion-label>Compartir</ion-label>
      </ion-button>
      
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name=megaphone-outline></ion-icon>  
      </ion-button>
      
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name=megaphone-outline></ion-icon> 
        <ion-label>Agregar Etiqueta</ion-label>
      </ion-button>
      
    </ion-buttons> -->
  </ion-toolbar>

  
  
  </ion-footer>