<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <b>Elige nuevo administrador</b>
  </ion-list-header>
    <ion-list *ngFor = "let user of users">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{ user.foto != null ? user.foto : '../../../assets/user.png'}}">
        </ion-avatar>
        <ion-label (click)="cambiarAdmin(user.idUsuario)">
          <h2>{{user.Nombre}}</h2>    
        </ion-label>
      </ion-item>
    </ion-list>


</ion-content>
