<ion-header>
  <ion-toolbar>
    <ion-title>Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <p *ngIf="!toGroup">Agregar en:</p>
      <p *ngIf="toGroup">Se agregará en el grupo de:</p>
    </ion-item>

    <ion-item *ngIf="!toGroup">
      <ion-select   value="{{materiasDia[0] != undefined ? materiasDia[0].idMateria : ''}}" (ionChange)="cambioMateria($event)">
        <ion-select-option *ngFor = "let materiaItem of materiasDia" value="{{materiaItem.idMateria}}">{{materiaItem.nombreMateria}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="toGroup">
      <ion-label>{{materia.nombreMateria}}</ion-label>
    </ion-item>
    <ion-item (click)="navigateTo('/agregar-pendiente')"> 
      <ion-label>Pendiente</ion-label>
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="navigateTo('/files')">      
      <ion-label>Archivo</ion-label>
      <ion-icon name="document-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="navigateTo('/images')">      
      <ion-label>Imagen de Galería</ion-label>
      <ion-icon name="image-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="navigateTo('/camera')">      
      <ion-label>Foto</ion-label>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
