<ion-content padding>
  <ion-grid>
    <ion-row><ion-col>Ingrese el nombre de la etiqueta</ion-col></ion-row>
    <ion-row><ion-col><ion-input  [(ngModel)]="etiqueta"></ion-input></ion-col></ion-row>
    <ion-row><ion-col><ion-button color="success" expand="block" (click)="guardarEtiqueta()">Ok</ion-button></ion-col></ion-row>
  </ion-grid> 
</ion-content> 