<ion-header>
  <ion-toolbar>
    <ion-title>{{materia != undefined ? materia.nombreMateria : Archivos}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="presentPopover()" routerLink="/agregar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list-header (click)="openMyFiles()">
      <b>Mis archivos -></b>
    </ion-list-header>
  <ion-list *ngFor = "let file of myFiles.slice(0,4)">
    <ion-item  (click)="viewFile(file.url)">
      <ion-label>{{file.Nombre}}</ion-label>
      <ion-icon name="document-outline" color="danger"></ion-icon>
    </ion-item>
  </ion-list>
<div  *ngIf="hasGroup">
  <ion-list-header (click)="openGroupFiles()">
      <b>Archivos de grupo -></b>
  </ion-list-header>
  <ion-list *ngFor = "let file of groupFiles.slice(0,4)">
    <ion-item  (click)="viewFile(file.url)">
      <ion-label>{{file.Nombre}}</ion-label>
      <ion-icon name="document-outline" color="danger"></ion-icon>
    </ion-item>
  </ion-list>
</div>
</ion-content>

