<ion-header>
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="presentPopover()" routerLink="/agregar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-list *ngFor = "let noticia of noticias" >
    <ion-card href="{{noticia.link}}">
      <img src="{{noticia.imagen}}" />
      <ion-card-header>
        <!-- <ion-card-subtitle>5-9  Abril</ion-card-subtitle> -->
        <ion-card-title>{{ noticia.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ noticia.descripcion }}
      </ion-card-content>
    </ion-card>
  </ion-list>
  

<!--   <ion-card>
    <img src="../../../assets/talentland.PNG" />
    <ion-card-header>
      <ion-card-subtitle>5-9  Abril</ion-card-subtitle>
      <ion-card-title>Jalisco Talent Land</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Talent Network es «el universo» que busca, encuentra y une al talento verdadero para acompañarlo en su desarrollo y vincularlo con empresas, profesionales e instituciones del país, durante los 365 días del año.
    </ion-card-content>
</ion-card> -->

<!-- <ion-card>
  <img src="../../../assets/ceti_ingenieria.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Ciclo 2021</ion-card-subtitle>
    <ion-card-title>Ingenierías Ceti</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    ¿Estás en busca de tu carrera profesional?
    En ese caso definitivamente debes considerar que las carreras relacionadas con la tecnología e innovación son las de mayor demanda y pertinencia no sólo en México sino en todo el mundo. Los avances en este tema revolucionan a la sociedad e impulsan sus niveles de productividad y competitividad, por ello se requieren cada vez más profesionales en el ramo de la ingeniería.
  </ion-card-content>
</ion-card> -->

</ion-content>