<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Materia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="ion-padding">
    
    <strong>Nombre</strong>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input id="nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <hr>
    <hr>

    <strong>Color</strong> 

    <hr>
    <hr>


<ion-segment value="primary" scrollable="true" [(ngModel)]="color">
  <ion-segment-button value="primary" >
    <ion-icon color="primary" name="square"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="success" >
    <ion-icon color="success" name="square"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="secondary" >
    <ion-icon color="secondary" name="square"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="warning" >
    <ion-icon color="warning" name="square"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="danger" >
    <ion-icon color="danger" name="square"></ion-icon>
  </ion-segment-button>
</ion-segment>

  </div>  
  <div>
    <ion-list *ngFor = "let materiaItem of materiasDia">
      <ion-card color="{{materiaItem.color}}" >
        <ion-card-content collapse="condense">      
            <ion-row>
              <ion-col size="7" (click)="openDetail(materiaItem.idMateria)">
                <div>{{materiaItem.nombreMateria}}</div>
              </ion-col>
              <ion-col size="5" class="ion-align-self-end">
                <ion-button size="small" color="light" (click)="editar(materiaItem.idMateria, materiaItem.nombreMateria, materiaItem.color)"  tab="1">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>        
                <ion-button size="small" color="light" (click)="eliminar(materiaItem.idMateria)" tab="2">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>     
        </ion-card-content>    
      </ion-card>
    </ion-list>
  </div>

</ion-content>
<ion-footer>
  <ion-button expand="block" color="primary" (click)=agregarMateria()>Añadir</ion-button>
  <ion-button expand="block" color="danger" routerLink="/agregar-horario">Siguiente</ion-button>
</ion-footer>
