<ion-header>

  <ion-toolbar>
    <ion-title>Materias</ion-title>
  </ion-toolbar>
  
  <ion-toolbar>    
    <ion-row>
      <ion-col>
        <ion-searchbar (ionChange)="buscar($event)">      
        </ion-searchbar>          
      </ion-col>
      <ion-col size="4">
        <ion-button size="small" fill="outline"  routerLink="/crear-grupo" routerDirection="root"> 
          Crear Grupo
        </ion-button> 
      </ion-col>
    </ion-row> 
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list *ngFor = "let materia of materias  | filtro: textoBuscar : 'nombreMateria' ">
  <ion-card color="{{materia.color}}" >
    <ion-card-content collapse="condense">      
        <ion-row>
          <ion-col size="7" (click)="openDetail(materia.idMateria)">
            <div>{{materia.nombreMateria}}</div>
          </ion-col>
          <ion-col size="5" class="ion-align-self-end">
            <ion-button size="small" color="light" (click)="editar(materia.idMateria, materia.nombreMateria, materia.color)"  tab="1">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>        
            <ion-button size="small" color="light" (click)="eliminar(materia.idMateria)" tab="2">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>     
    </ion-card-content>    
  </ion-card>
</ion-list>
</ion-content>
<ion-footer>
  <ion-button expand="block" color="primary" routerLink="/agregar-materia">Agregar Materia</ion-button>  
</ion-footer>